@use 'layout';
@use 'type';
@use 'color';

$component-rounded-radius: 0.4rem;

// Generic component styling
%roundedInteractive {
  border-radius: $component-rounded-radius;
  cursor: pointer;
}

//Static elements

/*
* Buttons
*/
$button-min-width: 10rem;
$small-button-size: 1.2;

@mixin button-generator(
  $size,
  $background-color,
  $hover-background-color,
  $font-color
) {
  @extend %roundedInteractive;

  min-width: $button-min-width;
  outline-width: 0;
  padding: $size * 1rem;
  border-width: 0;
  font-family: type.$default-font-family;
  text-align: center;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  color: $font-color;

  &:hover,
  &:focus {
    background-color: $hover-background-color;
    color: $font-color;
  }
}

%primaryButton {
  @include button-generator(
    $small-button-size,
    color.$button-base-color,
    color.$button-base-hovered-color,
    color.$color-base-light
  );
}
