@use 'color';
@use 'type';

// Main containers dimensions
$container-height: 100vh;

// Reusable mixins
@mixin mainContainer {
  color: color.$color-base-light;
  background: color.$background-color;
  position: relative;
  min-height: $container-height;
  font-size: type.$default-font-size;
}
