@use './global/styles/reset';
@use './global/styles/base';
@use './shared/styles/ui';

.App {
  text-align: center;
  background: ui.$background-color-primary;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.content {
  background: ui.$background-color-second;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 32px;
  border-radius: 8px;
  width: 50%;

  margin: 24px auto 0;
}

table {
  width: 100%;
}